.panel-title {
  height: 56px;
  background-color: #e8e8e8;
  font-size: 20px;
  line-height: 56px;
  color: rgba(0,0,0,.54);
  text-align: center;
}

.panel-row {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;

  > span {
    font-size: 16px;
  }
}